:root {
    --bg-start:  #00039e;
    --bg-end: #04052e;
    --primary: #a7c6f4;
    --teoria: #01337e;
    --exercicio: #02380f;
    --destaque: #ffff3b;
    --accent: #553394;
    --projeto: #5ebede;
    --texto: #ffffff;
    --texto-reverso: #040131;
    --card: rgb(2, 65, 168);
    --borda: rgb(20, 30, 44);
    --glow: rgba(34, 211, 238, 0.4);
}

* {
    margin: 0;     
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron','Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    background: linear-gradient(0deg, 
                                var(--bg-start), 
                                var(--bg-end));
    animation: gradient-animation 4s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-height: 100px;
    color: var(--primary);
}
header div {
    display: flex;
    font-weight: bolder;
    justify-items: space-around;
    align-items: center;
}
header img {
    height: 100px;
    margin: 5px;
    border: 1px solid var(--borda);
    border-radius: 50%;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
button {
  border: var(--primary) solid 2px;
  border-radius: 25px;
  background: var(--bg-start);
  color: var(--texto);
  font-size: 14px;
  height: 2rem;
  padding: 6px 20px;
}
button:hover {
    background-color: var(--primary);
    color: var(--texto-reverso);
}
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size:x-large;
    text-align: center;
    color: var(--primary);
}
#ini {
    justify-content: center;
}
#ini, #pes, #pro, #con, #cur {
    display: none;
}
#ini img {
    max-width: 90%;
    border-radius: 5%;
}
.titulo {
    text-align: center;
    font-size: large;
}
.telatoda {
    width: auto;
    padding-top: 60px;
    text-align: center;
}
.conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.card {
    color: var(--texto);
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    width: 300px;
    min-height: 200px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--card);
}
.card .icone {
    width: 70px;
    margin: 5px;
}
.card img {
    width: 90%;
    margin: 5px;
    border-radius: 10px;
}
.card ul {
    margin: 5px 20px;
}
.card li, .card h4, .card a {
    text-align: left;
    color: var(--texto);
}
.card:hover, .card:hover a, .card:hover h4, .card:hover li {
    color: var(--texto-reverso);
    background-color: var(--primary);
}

#atividade {
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#atividade div{
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    font-size: large;
}
select, option, input {
    color: rgb(1, 1, 65);
    font-size: large;
    font-weight: bold;
    padding: 4px;
}
.aula {
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    width: 600px;
    min-height: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(192, 195, 197);
}

.aula .icone {
    width: 30px;
    margin: 3px;
}
.aula a {
    text-align: left;
    color: rgb(1, 1, 65);
    font-size: large;
    font-weight: bold;
}
.aula:hover {
    color: navy;
    background-color: lightblue;
}
